@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background: rgb(4, 50, 101);
    background: radial-gradient(circle, rgba(4, 50, 101, 1) 0%, rgba(0, 51, 107, 1) 8%, rgba(10, 49, 93, 1) 21%, rgba(0, 43, 209, 1) 25%, rgba(24, 0, 27, 1) 69%, rgba(20, 12, 27, 1) 83%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    /* background-color: rgba(0, 0, 0, 0.849); */
    color: white;
    height: 15vh;
    font-family: sans-serif;
}

.logo {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    color: red;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.list li {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: monospace;
    list-style: none;
    font-weight: 500;
    background-color: transparent;
    width: fit-content;
    border: 2px solid rgba(252, 252, 252, 0.563);
    width: 11rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.list li::after{
    content: "";
    position: absolute;
    bottom: -4.2rem;
    width: 12rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    transition: all ease 0.5s;
}

.list li:hover::after{
    bottom: 0;
    border-radius: 20px;
}

.list li:hover{
    color: black;
}

#page-1 {
    /* background-color: rgba(0, 0, 0, 0.877); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile {
    overflow: hidden;
}

.profile h1 {
    color: white;
    font-size: 35rem;
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: 950;
}

.image {
    position: absolute;
    top: 0;
    left: 32%;
    width: 40vw;
    height: 85vh;
    object-fit: contain;
    z-index: 9;
}

.image img {
    height: 55rem;
}

.social-media{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    bottom: -22px;
    left: -30vw;
}

.social-media svg{
    width: 40px;
    cursor: pointer;
}


.info{
    width: 12vw;
    position: absolute;
    left: 52vw;
    bottom: 10px;
}

.info p{
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.social-media button{
    width: 12rem;
    height: 4rem;
    border-radius: 5px;
    background-color: rgb(148, 10, 10);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

#page-2 {
    height: 100vh;
}

.about{
    padding: 3rem;
}

.card{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h1{
    font-size: 12rem;
    font-weight: 950;
    font-family: sans-serif;
    line-height: 13rem;
    cursor: pointer;
}

.card p{
    font-size: 2rem;
    opacity: 0;
    transition: all ease-in 0.8s;
}

.about:hover .card{
    filter: blur(10px);
}

.about .card:hover{
    filter: blur(0px);
}

.card:hover p{
    opacity: 1;
}

#page-3{
    overflow: hidden;
}

.scroll-x{
    width: fit-content;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 8rem;
    overflow-x: hidden;
}

.project-card{
    background-color: green;
    width: 35vw;
    height: 35vw;
    position: relative;
    border-radius: 20px;
}

.project-card:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    width: 30vw;
    padding-left: 2rem;
    margin: 0rem 4rem;
    background-color: transparent;
}

.project-card:nth-child(1) h1{
    color: white;
    font-size: 8rem;
}

.project-card:nth-child(1) p{
    color: white;
    font-size: 2rem;
    line-height: 3rem;
}

.project-card:nth-child(1) button{
    padding: 2rem 3rem;
    font-size: 2rem;
    border-radius: 5px;
}

.project-card:nth-child(2){
    background-image: url(https://imgs.search.brave.com/bU9771jNISh6HFx588IhrWHJ5za7l3oezgSpbTN96SA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ibG9n/Z2luZ3dpemFyZC5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTcvMDkvMDctTHlm/dC1MYW5kaW5nLVBh/Z2UtVXNlLVZpc3Vh/bHMtSW4tWW91ci1M/YW5kaW5nLVBhZ2Vz/LnBuZw);
    object-fit: cover;
}


.project-card:nth-child(3){
    background-image: url(https://imgs.search.brave.com/X_6kEReGeZP3g8iPysvLNZ_FqxyZAR50orMbyCIeRkI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzgwLzI1Lzcz/LzM2MF9GXzU4MDI1/NzM1NV9lTmo1amtH/MGdhVWRMb21UOE01/enA3SkVrckQ2UWh3/dC5qcGc);
    object-fit: cover;
}

.project-card:nth-child(4){
    background-image: url(https://imgs.search.brave.com/VY4hB_ocyUzhUPVuGEB608tnAEx2_d_Iy60m4gd2ZLk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/d29yZHN0cmVhbS5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MjEvMDcvaW50ZXJh/Y3RpdmUtbGFuZGlu/Zy1wYWdlLWltYWdl/cy5wbmc);
}

.project-card:nth-child(5){
    background-image: url(https://imgs.search.brave.com/yJaU9PtOK5VvYDWs_FrrpWeMwWP6w6QgvLS6Vl10CMc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ibG9n/Lmh1YnNwb3QuY29t/L2h1YmZzL2xhbmRp/bmctcGFnZS53ZWJw);
}

.card-info{
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all ease 0.3s;
    overflow: hidden;
}

.card-info p{
    padding: 2rem;
    font-family: serif;
    font-size: 1.8rem;
    color: black;
    display: none;
}

.project-card:hover .card-info{
    height: 40%;
}

.project-card:hover .card-info p{
    display: block;
}

.project-card a img{
    padding: 0.5rem;
    width: 4rem;
    position: absolute;
    right: 0;
}

#page-4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move{
    width: 40vw;
    height: 40vw;
    background-color: red;
    position: relative;
    border-radius: 50%;
}

.move img{
    width: 9vw;
    background-color: white;
    border-radius: 10px;
    position: absolute;
}

.move img:nth-child(1){
    left: -3;
    top: -3rem;
    rotate: -44deg;
}

.move img:nth-child(2){
    left: 16rem;
    top: -11rem;
}

.move img:nth-child(3){
    left: 36rem;
    rotate: 49deg;
    top: -2rem;
}

.move img:nth-child(4){
    left: 43rem;
    top: 17rem;
    rotate: 90deg;
}

.move img:nth-child(5){
    left: 35rem;
    top: 35rem;
    rotate: 132deg;
}

.move img:nth-child(6){
    left: -11;
    top: 16rem;
    rotate: -90deg;
}

.move img:nth-child(7){
    top: 35rem;
    left: -3;
    rotate: -136deg;
}

.move img:nth-child(8){
    top: 43rem;
    left: 16rem;
}


/* .circle{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: blue;
} */

/* #page-5{
    background-color: rgb(3, 86, 158);
} */

.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.left-con{
    width: 40vw;
    height: 40vw;
    color: white;
    padding-top: 5rem;
}

.left-con h1{
    font-size: 9rem;
}

.link{
    margin-top: 4rem;
}

.link svg{
    width: 5rem;
    padding-left: 4rem;
    transition: all ease 0.3s;
}

.link svg:hover{
    scale: 1.2;
}

.right-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 40vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.right-con h2{
    color: white;
    font-size: 5rem;
}

.right-con input{
    display: block;
    margin: 3rem 0rem;
    padding: 1rem;
    width: 22vw;
    height: 3rem;
    border-radius: 8px;
    outline: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
}

.right-con input::placeholder{
    color: white;
}

.right-con textarea{
    display: block;
    padding: 1rem;
    width: 22vw;
    border-radius: 8px;
    background-color: transparent;
    outline: 1px solid white;
    color: white;
}

.right-con textarea::placeholder{
    color: white;
}

.right-con button{
    width: 32.5rem;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 5px;
    background-color: #29832c;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.right-con button:hover{
    background-color: #217c24;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 6px;
    }
}